<div class="container">
  <nav  class="navbar navbar-dark navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "TOKIMON", root_url, id: "logo", class:"navbar-brand" %>
      </div>
      <ul class= "nav navbar-nav">
        <li class="nav-item"> <%= link_to "Trainers List", trainers_path, class:"nav-link" %></li>
      </ul>
    </div>
</nav>
</div>