<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <%= link_to "Tokimon", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><button type="button" class="btn btn-default navbar-btn">Home</button></li>
          <li><button type="button" class="btn btn-default navbar-btn">Contact</button></li>
        </ul>
      </nav>
    </div>
  </nav>
</header>